html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
}
.parent {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    padding: 120px 4%;
  }
.box{
    background-color: white;
    border-color: #c0c0c0;
    border-radius: 3%;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
embed{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 5px;
}
.header {
    padding: 1% 4%;
    background: white;
    color: #f1f1f1;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    box-shadow: 0px 0px 6px grey;
  }
  .logo{
      width: auto;
      height: 60px;
  }
  .download{
    background-color: #1290D2;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3%;
    font-size: 12px;
  }
  .download:hover{
      background-color: #18aeff;
  }
  .formparent{
    padding: 120px 4%;
  }